<div *ngIf="countryInfo" class="m-3 card col" style="width: 20rem;">
    <div class="mb-2 card-body">
        <h4 class="font-weight-bold mb-3 text-dark">{{countryInfo.Country}}</h4>
        <hr>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <span class="badge badge-warning">Contagiados:</span>
            <span class="h5 font-weight-bold">
                {{countryInfo.TotalConfirmed}}
            </span>
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">Recuperados:</span>
            <span class="h5 font-weight-bold">
                {{countryInfo.TotalRecovered}}
            </span>
        </li>
        <li class="list-group-item">
            <span class="badge badge-danger">Muertos:</span>
            <span class="h5 font-weight-bold">
                {{countryInfo.TotalDeaths}}
            </span>
        </li>
    </ul>
    <div class="card-body">
        <p>
            <span class="font-weight-bold text-primary">
                Última actualización: 
            </span>
            <span class="font-weight-light text-capitalize">
                {{countryInfo.Date | amLocale: 'es' | amTimeAgo}}
            </span>
        </p>
        
    </div>
</div>